#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.info{
  background-color: red;
}
.display{
  background-color: blue;
}
